:root {
  --sl-font: 'IBM Plex Sans', serif;
  --sl-font-mono: 'Jetbrains Mono', monospace;
  --sl-content-width: 60rem;
  --sl-line-height: 1.6;
}

.sl-markdown-content :not(h1, h2, h3, h4, h5, h6) + :is(h1, h2, h3, h4, h5, h6):not(:where(.not-content *)) {
  margin-top: 0.75em;
}

.hero {
  grid-template-columns: 1fr;
}

.hero .copy {
  align-items: center;
}

.hero .actions {
  justify-content: center;
  gap: 1rem;
}

.action {
  border-radius: 0.5rem;
}

@media (min-width: 50rem) {
  .hero {
    padding-block: clamp(2.5rem, calc(1rem + 10vmin), 2.5rem);
  }
}

.tagline {
  text-align: center;
}

.content-panel {
  margin: 1.5rem;
}

.right-sidebar-container {
  width: calc(var(--sl-sidebar-width) +(100% - var(--sl-content-width) - var(--sl-sidebar-width)) / 3);
}

.tab a[role="tab"]{
  padding: 0.5em;
}